/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */
.markdown-preview.markdown-preview {
  @media print {
    .pagebreak {
      page-break-before: always;
    } /* page-break-after works, as well */
  }
  @page {
    size: 1000px 1280px;
    margin: 28pt;
  }
}

li {
  list-style-type: square;
}

h1 {
  margin-bottom: 2em;
}

h2 {
  margin-bottom: 0.5em;
}
